<h4>Selecione el profesor</h4>
<mat-form-field>
  <mat-label>Profesor</mat-label>
  <mat-select [formControl]="formControl" required>
    <mat-option>--</mat-option>
    @for (professor of professors; track professor) {
      <mat-option [value]="professor">{{ professor.name }}</mat-option>
    }
  </mat-select>
  @if (formControl.hasError('required')) {
    <mat-error>Por favor seleccione un profesor</mat-error>
  }
</mat-form-field>

<div class="example-button-row">
  <button mat-flat-button (click)="execute(formControl.value?.id)">Basic</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Asignaturas">
    <th mat-header-cell *matHeaderCellDef> Asignaturas</th>
    <td mat-cell *matCellDef="let element"> {{ element.nameSubjects }}</td>
  </ng-container>

  <ng-container matColumnDef="Estudiantes">
    <th mat-header-cell *matHeaderCellDef> Estudiantes</th>
    <td mat-cell *matCellDef="let element"> {{ element.nameStudents }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


